* {
    margin: 0;
    padding: 0;
  }
  section {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: auto; */
  }
  .amazon__content__list{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .cards {
    /* display: flex; */
    width: 80%;
    background: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    animation: animate 1s ease-in;
  }
  .cards:hover {
    box-shadow: 5px 5px 10px -5px #f5b70a;
    /* cursor: pointer; */
  }

  .product__content {
    padding: 0px 20px;
    padding-bottom: 15px;
  }
  
  .product__content h6 {
    color: #f5b70a;
    text-align: center;
  }

  .rating span i {
    color: #f76e11;
  }
  
  .rating {
    margin-bottom: 10px;
  }
  .image_box{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image_box img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }

  .price {
    color: rgb(0, 0, 0);
  }
  
  .price span {
    color: #f5b70a;
    font-size: 1.3rem;
    font-weight: 500;
  }

  button{
    border: none;
  }
  .shopping__icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #f76e11;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  

  @keyframes animate {
    from {
      transform: scale(0);
    }
  
    to {
      transform: scale(1);
    }
  }
  
  @media only screen and (max-width: 767px) {
    .product__content h6 {
      font-size: 0.9rem;
    }
  
    .price {
      font-size: 0.8rem;
    }
  
    .price span {
      font-size: 0.9rem;
    }
  }
  