.footer {
  padding-bottom: 0;
}


.footer__bottom {
  background: #141124;
  padding: 20px 0px;
  text-align: center;
  margin-top: 50px;
}

.footer__bottom p {
  font-size: 0.9rem;
  margin-bottom: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  padding: 0 20px;
  width: 150px;
  align-items: center;
}

@media only screen and (max-width: 992px) {

  .logo p {
    font-size: 0.8rem;
  }

  .footer__bottom p {
    font-size: 0.7rem;
  }

  .footer__bottom {
    padding: 15px 0px;
  }
} 